<!doctype html>
<html>
  <head>
    <title>API Information</title>
    <style>
      dt {
        margin-top: 15px;
      }
    </style>
    {% include 'head.html' %}
  </head>
  <body>
  
  {% include 'header.html' %}

    <h1>API Information</h1>
    <p>
      Get classes from /api/classes/CAMPUS/DAY/START/END?buildings=BUILDINGS&departments=DEPARTMENTS</br>
    </p>
    <dl>
      <dt>CAMPUS:</dt>
        <dd>CAC = College Ave</dd>
        <dd>BUS = Busch</dd>
        <dd>LIV = Livingston</dd>
        <dd>CD = Cook/Douglas</dd>
      <dt>DAY:</dt>
        <dd>M = Monday</dd>
        <dd>T = Tuesday</dd>
        <dd>W = Wednesday</dd>
        <dd>TH = Thursday</dd>
        <dd>F = Friday</dd>
        <dd>S = Saturday</dd>
      <dt>START/END</dt>
        <dd>4 digit number representing a 24-hour time in the format HHMM</dd>
      <dt>BUILDINGS (optional)</dt>
        <dd>comma separated list of 2 or 3 character building codes</dd>
        <dd>full list found at /api/buildings</dd>
      <dt>DEPARTMENTS (optional)</dt>
        <dd>comma separated list of 3 digit department codes</dd>
        <dd>full list found at /api/departments</dd>
    </dl>
  </body>
</html>
