
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ESP32 Reports</title>
  <script src='https://code.jquery.com/jquery-3.4.1.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js'></script>
</head>

<body style="background-color:#111;color: white">
  <center>
    <h1>ESP32 Reports</h1>
    Extra: <span id="extra_data"></span>:<br/>
    Last report at <span id="last_time"></span>:<br/>
    <span id="last_temp"></span><br/>
    <span id="last_hum"></span><br/>
    <span id="last_pres"></span><br/>
    <canvas id="chart"></canvas>

    <script>
      var cfg = {
        type: 'line',
        data: {
          labels : [],
          datasets : [{
            label: 'Temperature',
            lineTension: 0,
            fill: false,
            backgroundColor: '#f00',
            borderColor: '#f00',
            yAxisID: 'temp',
            data : [],
          }, {
            label: 'Humidity',
            lineTension: 0,
            fill: false,
            backgroundColor: '#00f',
            borderColor: '#00f',
            yAxisID: 'hum',
            data : [],            
          }, {
            label: 'Pressure',
            lineTension: 0,
            fill: false,
            backgroundColor: '#0f0',
            borderColor: '#0f0',
            yAxisID: 'pres',
            data : [],            
          }]
        },
        options: {
          animation: false,
          responsive: true,
          title: {
            display: true,
            text: 'Temperature'
          },
          scales: {
            xAxes: [{
              display: true,
              type: 'time',
              time: {
                minUnit: 'minute'
              },
              gridLines: {
                color: '#444'
              },
              scaleLabel: {
                display: true,
                labelString: 'Time'
              }
            }],
            yAxes: [{
              id: 'temp',
              type: 'linear',
              display: true,
              ticks: {
                maxTicksLimit: 11,
                fontColor: '#f00',
              },
              gridLines: {
                color: '#444'
              },
              scaleLabel: {
                fontColor: '#f00',
                display: true,
                labelString: 'Temperature (Degrees Fahrenheit)'
              }
            }, {
              id: 'hum',
              type: 'linear',
              display: true,
              ticks: {
                maxTicksLimit: 11,
                fontColor: '#00f',
              },
              gridLines: {
                color: '#444'
              },
              scaleLabel: {
                fontColor: '#00f',
                display: true,
                labelString: 'Humidity (% Relative Humidity)'
              }
            }, {
              id: 'pres',
              type: 'linear',
              display: true,
              ticks: {
                maxTicksLimit: 11,
                fontColor: '#0f0',
              },
              gridLines: {
                color: '#444'
              },
              scaleLabel: {
                fontColor: '#0f0',
                display: true,
                labelString: 'Pressure (Inches of Mercury)'
              }
            }]
          }
        }
      }

      function getUrlVars() {
          var vars = {};
          var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
              vars[key] = value;
          });
          return vars;
      }

      function getUrlParam(parameter, defaultvalue){
          var urlparameter = defaultvalue;
          if(window.location.href.indexOf(parameter) > -1){
              urlparameter = getUrlVars()[parameter];
              }
          return urlparameter;
      }

      function updateChart() {
        $.getJSON('https://rajanpatel.net/api/esp_data?interval=' + getUrlParam("interval", "2"), function(res) {
          $("#last_time").text(res.times.slice(-1)[0]);
          $("#last_temp").text(res.temps.slice(-1)[0] + " deg F");
          $("#last_hum").text(res.hums.slice(-1)[0] + "% RH");
          $("#last_pres").text(res.press.slice(-1)[0] + " inHg");
          $("#extra_data").text(res.extra);
          window.chart.options.scales.yAxes[0].ticks.min = res.axes[0]
          window.chart.options.scales.yAxes[0].ticks.max = res.axes[1]
          window.chart.options.scales.yAxes[0].ticks.stepSize = (res.axes[1] - res.axes[0])/10
          window.chart.options.scales.yAxes[1].ticks.min = res.axes[2]
          window.chart.options.scales.yAxes[1].ticks.max = res.axes[3]
          window.chart.options.scales.yAxes[1].ticks.stepSize = (res.axes[3] - res.axes[2])/10
          window.chart.options.scales.yAxes[2].ticks.min = res.axes[4]
          window.chart.options.scales.yAxes[2].ticks.max = res.axes[5]
          window.chart.options.scales.yAxes[2].ticks.stepSize = (res.axes[5] - res.axes[4])/10
          window.chart.data.labels = res.times;
          window.chart.data.datasets[0].data = res.temps;
          window.chart.data.datasets[1].data = res.hums;
          window.chart.data.datasets[2].data = res.press;
          window.chart.update();
        });
      }

      window.onload = function() {
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#ccc';
        var ctx = document.getElementById('chart').getContext('2d');
        window.chart = new Chart(ctx, cfg);
        updateChart();
        setInterval(updateChart, 5000);
      };
    </script>
  </center>
</body>
</html>
