
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ESP32 Reports</title>
  <script src='https://code.jquery.com/jquery-3.4.1.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js'></script>
</head>

<body style="background-color:#111;color: white">
  <center>
    <h1>ESP32 Reports</h1>
    Last report at <span id="last_time"></span>:<br/>
    <span id="last_temp"></span><br/>
    <span id="last_hum"></span><br/>
    <span id="last_pres"></span><br/>
    <canvas id="chart" width="600" height="400"></canvas>

    <script>
      var cfg = {
        type: 'line',
        data: {
          labels : [],
          datasets : [{
            label: 'Temperature',
            fill: false,
            backgroundColor: '#f00',
            borderColor: '#f00',
            yAxisID: 'temp',
            data : [],
          }, {
            label: 'Humidity',
            fill: false,
            backgroundColor: '#00f',
            borderColor: '#00f',
            yAxisID: 'hum',
            data : [],            
          }, {
            label: 'Pressure',
            fill: false,
            backgroundColor: '#0f0',
            borderColor: '#0f0',
            yAxisID: 'pres',
            data : [],            
          }]
        },
        options: {
          animation: false,
          responsive: true,
          title: {
            display: true,
            text: 'Temperature'
          },
          scales: {
            xAxes: [{
              display: true,
              type: 'time',
              time: {
                minUnit: 'minute'
              },
              gridLines: {
                color: '#444'
              },
              scaleLabel: {
                display: true,
                labelString: 'Time'
              }
            }],
            yAxes: [{
              id: 'temp',
              type: 'linear',
              display: true,
              ticks: {
                min: 50,
                max: 100,
                stepSize: 5,
                fontColor: '#f00',
              },
              gridLines: {
                color: '#444'
              },
              scaleLabel: {
                fontColor: '#f00',
                display: true,
                labelString: 'Temperature (Degrees Fahrenheit)'
              }
            }, {
              id: 'hum',
              type: 'linear',
              display: true,
              ticks: {
                min: 0,
                max: 100,
                stepSize: 10,
                fontColor: '#00f',
              },
              gridLines: {
                color: '#444'
              },
              scaleLabel: {
                fontColor: '#00f',
                display: true,
                labelString: 'Humidity (% Relative Humidity)'
              }
            }, {
              id: 'pres',
              type: 'linear',
              display: true,
              ticks: {
                min: 95,
                max: 105,
                stepSize: 1,
                fontColor: '#0f0',
              },
              gridLines: {
                color: '#444'
              },
              scaleLabel: {
                fontColor: '#0f0',
                display: true,
                labelString: 'Pressure (Kilopascals)'
              }
            }]
          }
        }
      }

      function updateChart() {
        $.getJSON('https://rajanpatel.net/api/esp_data', function(res) {
          $("#last_time").text(res.times.slice(-1)[0]);
          $("#last_temp").text(res.temps.slice(-1)[0] + " deg F");
          $("#last_hum").text(res.hums.slice(-1)[0] + "% RH");
          $("#last_pres").text(res.press.slice(-1)[0] + " kPa");
          window.chart.data.labels = res.times;
          window.chart.data.datasets[0].data = res.temps;
          window.chart.data.datasets[1].data = res.hums;
          window.chart.data.datasets[2].data = res.press;
          window.chart.update();
        });
      }

      window.onload = function() {
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#ccc';
        var ctx = document.getElementById('chart').getContext('2d');
        window.chart = new Chart(ctx, cfg);
        updateChart();
        setInterval(updateChart, 5000);
      };
    </script>
  </center>
</body>
</html>
