<form class="form-inline">
<fieldset>

<!-- Form Name -->
<legend>Find Classes</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Campus</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="BUS">Busch</option>
      <option value="LIV">Livingston</option>
      <option value="CAC">College Ave</option>
      <option value="CD">Cook/Douglas</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Day</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="M">Monday</option>
      <option value="T">Tuesday</option>
      <option value="W">Wednesday</option>
      <option value="TH">Thursday</option>
      <option value="F">Friday</option>
      <option value="S">Saturday</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Start Time</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="800">8:00 AM</option>
      <option value="900">9:00 AM</option>
      <option value="1000">10:00 AM</option>
      <option value="1100">11:00 AM</option>
      <option value="1200">12:00 PM</option>
      <option value="1300">1:00 PM</option>
      <option value="1400">2:00 PM</option>
      <option value="1500">3:00 PM</option>
      <option value="1600">4:00 PM</option>
      <option value="1700">5:00 PM</option>
      <option value="1800">6:00 PM</option>
      <option value="1900">7:00 PM</option>
      <option value="2000">8:00 PM</option>
      <option value="2100">9:00 PM</option>
      <option value="2200">10:00 PM</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="800">8:00 AM</option>
      <option value="900">9:00 AM</option>
      <option value="1000">10:00 AM</option>
      <option value="1100">11:00 AM</option>
      <option value="1200">12:00 PM</option>
      <option value="1300">1:00 PM</option>
      <option value="1400">2:00 PM</option>
      <option value="1500">3:00 PM</option>
      <option value="1600">4:00 PM</option>
      <option value="1700">5:00 PM</option>
      <option value="1800">6:00 PM</option>
      <option value="1900">7:00 PM</option>
      <option value="2000">8:00 PM</option>
      <option value="2100">9:00 PM</option>
      <option value="2200">10:00 PM</option>
    </select>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">Departments</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
    </select>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">Buildings</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
    </select>
  </div>
</div>

</fieldset>
</form>

